@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

html {
    background-image: url("images/home.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: transparent; 
}

header {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0.5em;
    overflow: hidden;
    background-color: #333;
  }
  
header li {
    float: left;
  }
  
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
header li a:hover {
    background-color: #111;
  }

  th {
    text-align: center;
  }

  section {
    background-color:transparent;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    height: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
  }

.scroll-container {
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
    background-color: transparent;
}

/* Style Home page */

.center-aligned {text-align: center;}

h1.center-aligned {margin-top: 100px;}

/* Style Sidebar */ 

.nav-contents {
    font-size: 1.5em;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #333;
    color: white;
    height: 100%;
    transition: all 0.5s ease;
    z-index: 1;
    padding-top: 30px;
}

.enh{
    width: 400px;
    height: 300px;
}

.nav-contents ul *{
    list-style: none;
    text-decoration: none;
    width: 15em;
}
 
.nav-contents ul li a {
    padding-left: 30px;
    line-height: 60px;
    font-weight: bold;
    color: white;
}

.nav-contents h3 {
    padding-left: 30px;
}

.nav-contents ul li:hover {
    background-color: #111;
    border-radius: 5px;;
    cursor: pointer;
}


#toggler {
    display: none;
}

#btn {
    position: fixed;
    cursor: pointer;
    top: 15px;
    right: 15px;
    z-index: 2;
}

#toggler:checked ~ .nav-contents {
    right: 0;
}

#toggler:checked ~ #start, #toggler:checked ~ .scroll-container {
    filter: blur(5px);  
}
    
/* Styles containers and all its children */
#start, #quizResult {
    height: 100%;
    transition: all 0.5s ease;
    font-size: 1.5em;
    scroll-snap-align: start;
}


#columns {
    height: 100%;
    padding-left: 3em;
}

#left, #right {
    float: left;
    height: 100%;
    position: relative;
}
#left{
    width: 55%;
}

#right {
    width: 45%;
}

#start #left input {
    padding: 0.7em 1.3em;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.05em;
    border: 2px solid black;
    border-radius: 2em;
    width: 60%;
    font-family: Consolas;
}

#start #left h1 {
    font-size: 4.8em;
    font-weight: 800;
    margin-top: 1em;
    margin-bottom: 0.1em;
}

#start #subheading {
    margin-top: 0.1em;
    margin-bottom: 2em;
    font-size: 1.5em;
}

#start #description {margin-bottom: 2em;}

#left p {
    font-size: 1em;
}

#left div {position: relative; margin-top: 1.3em;z-index: 0;}
#start #left a {
    width: 2.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;   
    background-color: black;
    color: white;
    padding: 0.5em 2.5em;
    border-radius: 1em;
    position: absolute;
}

#start-btn {
    margin-top: 1.5em;
    position: absolute;
}


#right div {
    padding: 9em 4em;
}   

.footer {
    position:relative;
    bottom:0;
    width:100%;
    height:10%;
    text-align: center;
}



/* Style questions section */
.question-container {
    height: 100%;
    background-color: transparent;
    color: black;
    scroll-snap-align: start;
}


.questions-container {
    height: 100%;
    font-size: 1.5em;
    transition: all 0.5s ease;
}

.question-box {
    height: 90%;
    padding: 0 50px;
}

.qfieldset-container {
    padding-top: 100px;
    height: 80%;
}

.questions-container fieldset {
    height: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: none;
    background-color: white;
}

.question {
    font-size: 1.9em;
    top: 0;
    height: 40%;
}

.instruction {
    font-size: 0.5em;
}

.ans {
    bottom: 10px;
    height: 60%;
    text-align: center;
    padding: 10px;
}

input[type=checkbox], input[type=radio] {
    display: none;
}

.text-ans-container, .checkbox-ans-container, .radio-ans-container  {
    padding: 1.5em;
}

.text-ans-container p {
    line-height: 4em;
}
 
.select-ans-container select {
    font-size: 1.38em;
    text-align: center;
    padding: 0.3em;
    border-radius: 0.4em;
    font-weight: bold;
}

.select-ans-container option {
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.245);
    color: white;
}

.checkbox-ans-container, .radio-ans-container {
    text-align: left;
    font-size: 1.13em;
    padding: 0;
}

.mixed-ans-container input, .mixed-ans-container select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 30%;
    font-size: 1.5em;
    text-align: center;
}

.sub-question {text-align: left;}

.ans input[type=text], .ans input[type=number] {
    font-size: 1.38em;
    font-family: Consolas;
    text-align: center;
    padding: 0.2em;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

span.address, p.address  {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px solid black;
    padding: 0.1em;
    border-radius: 0.25em;

}

/* Custom elements */

/* checkbox */

.custom_cb {
    height: 30px;
    width: 30px;
    border: 3px solid black;
    position: absolute;
    left: 0;
    bottom: 8px;
    border-radius: 5px;
}

.checkbox-ans-container label {
    position: relative;
    padding-left: 60px;
}

.custom_cb:hover, .checkbox-ans-container p *:hover {
    cursor: pointer;
}

.custom_cb:hover {
    background-color: #ccc;
    cursor: pointer;
}

.custom_cb::after {
    content: "";
    border: solid #EE4266;
    border-width: 0 6px 6px 0;
    position: relative;
    bottom: 14px;
    left: 12px;
    transform: rotate(45deg);
    height: 30px;
    width: 12px;
    display: none;
}

.checkbox-ans-container input:checked ~ .custom_cb::after {
    display: block;
}

/* radio button */

.custom_radio {
    height: 35px;
    width: 35px;
    border: 2px solid black;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50%;
}

.radio-ans-container label {
    position: relative;
    padding-left: 60px;
}

.custom_radio:hover, .radio-ans-container p *:hover {
    cursor: pointer;
}

.custom_radio:hover {
    background-color: #ccc;
    cursor: pointer;
}

.custom_radio::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: none;
    background-color: black;
}

.radio-ans-container input:checked ~ .custom_radio {
    border: 2px dashed black;
}

.radio-ans-container input:checked ~ .custom_radio::after {
    display: block;
}

/* select box */

.select-ans-container select {
    appearance: none;
    width: 100%;
    cursor: pointer;
}

.select-ans-container {
    display: block;
    align-items: center;
    position: relative;
    margin: 1.5em;
    line-height: 1.58em;
}

.select-ans-container::after {
    content: '\25BC';
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.45em 0.8em;
    background: black;
    color: white;
    cursor: pointer;
    pointer-events:none;
    transition:.25s all ease;
    border-radius: 0 0.4em 0.4em 0;
 }

/* Style Questions */

/* Question 1 */
.gap {
    width: 10em;
}

/* Question 5 */
table.borderless-table td {
    padding: 0.5em 0 1em;
}




table.table-display {
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    margin: auto;
    width: 90%;
}

table.table-display th {
    border-bottom: 1px solid black;
    
    font-family: Montserrat;
}

table.table-display textarea {
    font-size: 0.7em;
    padding-top: 0.1em;
    background-color: transparent;
    border: none;
}

table.table-display .char {
    text-align: left;
    font-size: 0.5em;
    padding: 0.5em 0 1em;
    background-color: transparent;
}

table.table-display td {
    border-bottom: 1px solid black;
}

table.table-display input[type=text] {
    width: 12em;
    border-bottom:none;
    font-size: 0.95em;
}

.long-text {
    width: 30em;
}

/* Style Final */

fieldset.final{
    height: 80%;
}

#final .question {height: 20%;}

#colY-container, #colN-container {
    width: 49.8%;
    height: 14em;
    position: relative;
    float: left;
}

#colY, #colN {
    position: absolute;
    width: 100%;
    float: left;;
}

#colY-container{
    border: 2px solid #ccc;    
}

#colN, #colN-container {
    background-color: #ccc;
    color: white;
}

#colN-container{
    height: 14.1em;
}

#final input[type=radio] {
    display: inline-block;
    appearance: none;
	width: 30px;
	height: 30px;
	border: 2px solid #555555;
	border-radius: 50%;
	background-clip: content-box;
    padding: 3px;
    cursor: pointer;
}

.opt-container label {font-size: 2em; font-weight: bold;}

#final #colY input[type=radio]:checked {
    background-color: black;
    border: 2px dashed black;
}

#final #colN input[type=radio]:checked {
    background-color: white;
    border: 2px dashed black;

}

#conf_y,  #conf_n{
    display: none;
    margin-top: 1em;
    margin-left: 3em;
    text-align: left;
}

#opt_y:checked ~ #conf_y {
   display: block;
}

#opt_n:checked ~ #conf_n {
    display: block;
 }

 summary {cursor: pointer;}

 input[type=submit], input[type=reset] {
     font-size: 1em;
     padding: 0.2em 0.5em;
     background-color: white;
     cursor: pointer;
 }

 #conf_Y >   a {
     color: black;
 }

 #colN a {
     color: white;
 }

 #email{
    width: 30px; 
    height: 30px;
 }

 /* Style elements on 'markquiz' page */
 #quizResult #left h1 {
     font-size: 6.5em;
     font-weight: 800;
     margin-top: 0.6em;
     margin-bottom: 0em;
 }

 #quizResult #subheading {
     font-size: 1.2em;
     margin-bottom: 2.8em;
 }

 #quizResult #description {
     font-size: 1.2em;
     margin-bottom: 0.1em;
 }

 #try-again-btn {
    margin-top: 1em;
    position: absolute;
}

#quizResult #left a {
    width: 4.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;   
    background-color: black;
    color: white;
    padding: 0.5em 2.5em;
    border-radius: 1em;
    position: absolute;
}

span#score {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3em;
}